{% extends "app/base.html" %}

{% block title %}Berrymore :: {{ date_start }} - {{ date_end }}{% endblock %}

{% block body %}
{% if error %}
{{ error }}
{% else %}
<!--<script type="text/javascript" src="/static/files/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="/static/files/moment.min.js"></script>-->
<!--<script type="text/javascript" src="/static/files/daterangepicker.min.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="/static/files/daterangepicker.css" />-->

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div align="right" style="display: inline; float: right;"><font size="12px"><b>{{ date_start }} - {{ date_end }}</b></font></div>
<div align="left" style="display: inline"><font size="6px"><b>Select date</b></font></div><br>

<input type="text" name="daterange" value="{{ date_start }} - {{ date_end }}" />

<br><br><br>

	{% for product, data in products.items %}
	<div align="left" style="display: inline; font-size: 20;"><b>{{ product }}</b></div>
	<div class="table">
		<div class="table-header">
   			<div class="header__item"><a id="user" class="filter__link" href="#">User</a></div>
   			<div class="header__item"><a id="client" class="filter__link" href="#">Client</a></div>
   			<div class="header__item"><a id="date" class="filter__link" href="#">Date</a></div>
			<div class="header__item"><a id="weight" class="filter__link filter__link--number" href="#">Weight</a></div>
			<div class="header__item"><a id="boxes" class="filter__link filter__link--number" href="#">Boxes</a></div>
			<div class="header__item"><a id="price_per_kg" class="filter__link filter__link--number" href="#">Price per kg</a></div>
			<div class="header__item"><a id="netto" class="filter__link filter__link--number" href="#">Netto</a></div>
			<div class="header__item"><a id="price" class="filter__link filter__link--number" href="#">Price</a></div>
			<div class="header__item"><a id="boxes_in" class="filter__link filter__link--number" href="#">Boxes in</a></div>
			<div class="header__item"><a id="boxes_out" class="filter__link filter__link--number" href="#">Boxes out</a></div>
		</div>
		<div class="table-content">
	        {% for visit in data.visits %}
			<div class="table-row">
                <div class="table-data">{{ visit.user }}</div>
                <div class="table-data"><a href="/client/{{ visit.client.id }}/">{{ visit.client.name }}</a></div>
				<div class="table-data"><a href="/report/visit/{{ visit.id }}/">{{ visit.datetime }}</a></div>
				<div class="table-data">{{ visit.weight }}</div>
				<div class="table-data">{{ visit.number_of_boxes }}</div>
				<div class="table-data">{{ visit.price_per_kg }}</div>
				<div class="table-data">{{ visit.get_netto }}</div>
				<div class="table-data">{{ visit.get_price }}</div>
				<div class="table-data">{{ visit.number_of_boxes_in }}</div>
				<div class="table-data">{{ visit.number_of_boxes_out }}</div>
			</div>
	        {% endfor %}
			<br><br>
			<div class="table-row">
				<div class="table-data"><b>Total:</b></div>
				<div class="table-data"></div>
				<div class="table-data"></div>
				<div class="table-data">{{ data.total_weight }}</div>
				<div class="table-data">{{ data.total_number_of_boxes }}</div>
				<div class="table-data"></div>
				<div class="table-data">{{ data.total_netto }}</div>
				<div class="table-data">{{ data.total_price }}</div>
				<div class="table-data">{{ data.total_number_of_boxes_in }}</div>
				<div class="table-data">{{ data.total_number_of_boxes_out }}</div>
			</div>
		</div>
	</div>
	<br><br>
	{% endfor %}
{% endif %}


<script>
$(function() {
  $('input[name="daterange"]').daterangepicker({
    opens: 'left',
    locale: {
      format: 'YYYY-MM-DD'
    }
  }, function(start, end, label) {
  	let date_range = start.format('YYYY-MM-DD') + '_' + end.format('YYYY-MM-DD')
    console.log(date_range);
    window.open("/report/daily/" + date_range);
  });
});
</script>
{% endblock %}
